<section class="container ps-5">
    <div class="row p-5">
        <div class="col-md-6">
            <div class="form-group w-100">
                <form [formGroup]="updateTaskItemForm" (ngSubmit)="UpdateTaskItem()">
                    <!-- Title -->
                    <div class="mb-2">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" id="title" class="form-control" placeholder="Enter the title"
                            formControlName="title"
                            [ngClass]="{
                'is-valid': !updateTaskItemForm.get('title')?.errors && (updateTaskItemForm.get('title')?.touched || updateTaskItemForm.get('fullName')?.dirty),
                'is-invalid': updateTaskItemForm.get('title')?.errors && (updateTaskItemForm.get('title')?.touched || updateTaskItemForm.get('fullName')?.dirty)}">
                        @if(updateTaskItemForm.get('title')?.errors && (updateTaskItemForm.get('title')?.touched ||
                        updateTaskItemForm.get('title')?.dirty)){
                        <div class="alert alert-danger">
                            @if(updateTaskItemForm.get('title')?.getError('required')){
                            <p class="m-0">Title Is Required</p>
                            }
                            @else if(updateTaskItemForm.get('title')?.getError('minlenth')){
                            <p class="m-0">Title be more or equal 3 chars</p>
                            }
                        </div>
                        }
                    </div>

                    <!-- Description -->
                    <div class="mb-2">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" id="description" class="form-control" placeholder="Enter the description"
                            formControlName="description"
                            [ngClass]="{
                'is-valid': !updateTaskItemForm.get('description')?.errors && (updateTaskItemForm.get('description')?.touched || updateTaskItemForm.get('description')?.dirty),
                'is-invalid': updateTaskItemForm.get('description')?.errors && (updateTaskItemForm.get('description')?.touched || updateTaskItemForm.get('description')?.dirty)}">
                        @if(updateTaskItemForm.get('description')?.errors &&
                        (updateTaskItemForm.get('description')?.touched ||
                        updateTaskItemForm.get('description')?.dirty)){
                        <div class="alert alert-danger">
                            @if(updateTaskItemForm.get('description')?.getError('required')){
                            <p class="m-0">Description Is Required</p>
                            }
                            @else if(updateTaskItemForm.get('description')?.getError('minlenth')){
                            <p class="m-0">Description be more or equal 3 chars</p>
                            }
                        </div>
                        }
                    </div>

                    <!-- Priority -->
                    <div class="mb-2">
                        <label for="priority" class="form-label">Priority</label>
                        <select id="priority" class="form-select" formControlName="priority">
                            <option value="">Select priority</option>
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                        </select>
                    </div>

                    <!-- Status Dropdown -->
                    <div class="mb-2">
                        <label class="form-label">Status</label>
                        <select class="form-select" formControlName="status">
                            <option value="">Select status</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Not Started">Not Started</option>
                            <option value="Completed">Completed</option>
                        </select>
                    </div>

                    <!-- Start Date -->
                    <div class="mb-2">
                        <label for="startDate" class="form-label">Start Date</label>
                        <input type="date" id="startDate" class="form-control" formControlName="startDate">
                    </div>

                    <!-- Deadline -->
                    <div class="mb-2">
                        <label for="deadLine" class="form-label">Deadline</label>
                        <input type="date" id="deadLine" class="form-control" formControlName="deadLine">
                    </div>

                    <!-- Assigned To Dropdown -->
                    <div class="mb-2">
                        <label class="form-label">Assigned To</label>
                        <select class="form-select" formControlName="assignedToId">
                            <option value="">Select Employee</option>
                            @for (item of employeeList(); track $index) {
                            <option [value]="item.id">{{ item.fullName }}</option>
                            }
                        </select>
                    </div>

                    <!-- Buttons -->
                    <div>
                        <a routerLink="/dashboard" class="btn btn-secondary mt-2 me-3">
                            <i class="fa-solid fa-arrow-left"></i> Go Back
                        </a>
                        <button class="btn btn-warning mt-2">Update</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>