<nav class="navbar bg-secondary-subtle">
    <div class="container-fluid d-flex justify-content-center align-content-center">
        <input class="form-control me-2" type="search" placeholder="Search" [ngModel]="SearchValue()"
            (ngModelChange)="SearchValue.set($event)"
            aria-label="Search" />
    </div>
</nav>

<div class=" px-5 pt-2">
    <app-employee-task-chart></app-employee-task-chart>
</div>

<section class=" px-5 pt-0 pb-0">
    <div class="p-4 pt-0 ps-3">
        <a routerLink='/addTask' routerLinkActive="router-link-active" class="btn btn-primary"><i
                class="fa fa-plus"></i> Add New Task</a>
        <hr>
    </div>
    <table class="table">
        @if(taskItemList.length !== 0){
        <thead>
            <tr class="">
                <th scope="col" class="heading">Task</th>
                <th scope="col" class="heading">Periority</th>
                <th scope="col" class="heading">Satus</th>
                <th scope="col" class="heading">Assigned to</th>
                <th scope="col" class="heading">Start-Date</th>
                <th scope="col" class="heading">Deadline</th>
                <th scope="col" class="heading">Controllers</th>
            </tr>
        </thead>

        @for (item of taskItemList | searchTaskItem: SearchValue() ; track $index) {
        <tbody>
            <tr class="">
                <td>{{item.title}}</td>
                <td>{{item.priority}}</td>
                <td>{{item.status}}</td>
                <td>{{item.assignedTo.fullName}}</td>
                <td>{{item.startDate | date: 'dd-MM-yyyy'}}</td>
                <td>{{item.deadLine | date: 'dd-MM-yyyy'}}</td>
                <td>
                    <a [routerLink]='["/updateTask" , item.id]' class="btn btn-outline-warning me-2">Update</a>
                    <button class="btn btn-outline-danger" (click)="DeleteTaskItem(item.id)">Delete</button>
                </td>
            </tr>
        </tbody>
        }
        }
        @else {
        <h1>No Task Available Now!</h1>
        }

    </table>
</section>
