<section class="container p-5">
    <div class="row p-5">
        <div class="col-md-6">
            <div class="form-group w-100">
                <form [formGroup]="updateEmployeeForm" (ngSubmit)="UpdateEmployee()">
                    <div class="mb-2">
                        <label for="fullName" class="form-label">Full Name</label>
                        <input type="text" id="fullName" class="form-control" placeholder="Enter full name"
                            formControlName="fullName"
                            [ngClass]="{
                'is-valid': !updateEmployeeForm.get('fullName')?.errors && (updateEmployeeForm.get('fullName')?.touched || updateEmployeeForm.get('fullName')?.dirty),
                'is-invalid': updateEmployeeForm.get('fullName')?.errors && (updateEmployeeForm.get('fullName')?.touched || updateEmployeeForm.get('fullName')?.dirty)}">
                        @if(updateEmployeeForm.get('fullName')?.errors && (updateEmployeeForm.get('fullName')?.touched ||
                        updateEmployeeForm.get('fullName')?.dirty)){
                        <div class="alert alert-danger">
                            @if(updateEmployeeForm.get('fullName')?.getError('required')){
                            <p class="m-0">FullName Is Required</p>
                            }
                            @else if(updateEmployeeForm.get('fullName')?.getError('minlenth')){
                            <p class="m-0">must be more or equal 3 chars</p>
                            }
                        </div>
                        }
                    </div>
                    <!-- </div> -->

                    <div class="mb-2">
                        <label for="jobTitle" class="form-label">Job Title</label>
                        <input type="text" id="jobTitle" class="form-control" placeholder="Enter job title"
                            formControlName="jobTitle"
                            [ngClass]="{
                'is-valid': !updateEmployeeForm.get('jobTitle')?.errors && (updateEmployeeForm.get('jobTitle')?.touched || updateEmployeeForm.get('jobTitle')?.dirty),
                'is-invalid': updateEmployeeForm.get('jobTitle')?.errors && (updateEmployeeForm.get('jobTitle')?.touched || updateEmployeeForm.get('jobTitle')?.dirty)}">
                        @if(updateEmployeeForm.get('jobTitle')?.errors && (updateEmployeeForm.get('jobTitle')?.touched
                        ||
                        updateEmployeeForm.get('jobTitle')?.dirty)){
                        <div class="alert alert-danger">
                            @if(updateEmployeeForm.get('jobTitle')?.getError('required')){
                            <p class="m-0">JobTitle Is Required</p>
                            }
                            @else if(updateEmployeeForm.get('jobTitle')?.getError('minlenth')){
                            <p class="m-0">must be more or equal 3 chars</p>
                            }
                        </div>
                        }
                    </div>

                    <!-- Is Active -->
                    <div class="mb-2 form-check">
                        <input type="checkbox" id="isActive" class="form-check-input" formControlName="isActive">
                        <label for="isActive" class="form-check-label">Is Active</label>
                    </div>

                    <!-- Department Select -->
                    <div class="mb-2">
                        <label for="departmentId" class="form-label">Department</label>
                        <select class="form-select" id="departmentId" formControlName="departmentId">
                            <option value="">Select Department</option>
                            @for (item of departmentList; track $index) {
                            <option [value]="item.id">{{ item.name }}</option>
                            }
                        </select>
                    </div>

                    <div>
                        <a routerLink="/employee" class="btn btn-secondary mt-2 me-3">
                            <i class="fa-solid fa-arrow-left"></i>
                            Go Back
                        </a>
                        <button class="btn btn-primary mt-2">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>