<section class="container p-5">
    <div class="row p-5">
        <div class="col-md-6">
            <div class="form-group w-100">
                <form [formGroup]="updateDepartmentForm" (ngSubmit)="UpdateDepartment()">
                    <div class="mb-2">
                        <label for="id" class="form-label">Department ID</label>
                        <input type="text" id="id" class="form-control" placeholder="Enter department id"
                            formControlName="name">
                    </div>

                    <div class="mb-2">
                        <label for="name" class="form-label">Department Name</label>
                        <input type="name" id="name" class="form-control" placeholder="Enter Department Name"
                            formControlName="name">
                    </div>

                    <div class="mb-2">
                        <label for="description" class="form-label">Department Description</label>
                        <input type="description" id="description" class="form-control"
                            placeholder="Enter the description" formControlName="description">
                    </div>

                    <div>
                        <a routerLink="/department" class="btn btn-secondary mt-2 me-3"> <i class="fa-solid fa-arrow-left"></i> Go Back</a>
                        <button class="btn btn-warning mt-2" type="submit">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>