<section class=" bg-primary position-relative pt-5">
    <div class="row d-flex justify-content-end ms-3 ps-2">
        <h1 class="text-white h4">Admin-Dashboard</h1>
        <ul class="w-100">
            <li class="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-regular fa-rectangle-list"></i>
                <a routerLink='/dashboard'> Dashboard</a>
            </li>
            <li class="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-regular fa-address-book"></i>
                <a routerLink='/employee'> Employees</a>
            </li>
            <li class="" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa-regular fa-file-code"></i>
                <a routerLink='/department'> Departments</a>
            </li>
        </ul>
    </div>

    <button type="button" class="btn btn-light" (click)="logout()">
        <i class="fa-solid fa-arrow-right-from-bracket"></i> 
        LogOut
    </button>
</section>